meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Gesti칩n de procesos de una empresa agropecuaria y su estructura organizacional.
meta(meta name="description" content="En la actualidad las empresas agropecuarias deben ser competitivas, produciendo alimentos agropecuarios de primera calidad bajo el eslogan de mercados verdes o producci칩n limpia, para incursionar en nuevos mercados o consolidarse a nivel nacional o internacional siempre y cuando cumplan con est치ndares de certificaci칩n y normativa.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")