h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Llave de acceso para llegar a mercados verdes de un sistema productivo', 'main.html#page/llave/')
                    +navTemaItem('2', 'Diligencia del talento humano', 'main.html#page/diligencia/')
                    +navTemaItem('3', 'Estructura organizacional de una empresa agropecuaria', 'main.html#page/estructura/')