h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 270401091-01 - Analizar el sistema productivo de la empresa según estándares de certificación y normativa. 

            li 
                span 210201052-01 - Diagnosticar necesidades de talento humano de la empresa agropecuaria de acuerdo con sistemas de producción y normatividad vigente.            

            li 
                span 210601023-01 - Identificar el estado actual de la empresa utilizando herramientas de análisis organizacional, metodologías administrativas y metodologías técnicas.                 