.container
    .header-ecored
        h1 1. Actividad productiva 
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img1.png").img-fluid 
        .row.justify-content-center.align-items-center
            .col-12.col-md-11
                .jumbotron.text-sup2.px-3.py-3 
                    p El objetivo principal de efectuar un diagnóstico es identificar el problema o necesidad para caracterizarlo, con la finalidad de ver las posibles soluciones que tienen y generar el mayor impacto, ya sea desde la creación, producción, transformación, disminución de procesos, financieramente, socialmente o en afectación del medio ambiente.
                    p Por lo anterior, se hace necesario conocer los siguientes ejemplos de producción agrícola y pecuaria. En este primero, se observa un modelo tecnificado de producción agrícola, en el que se evidencian algunas de las principales labores que se deben realizar en el desarrollo del proceso productivo como son: labranza, siembra, mantenimiento del cultivo, riego, cosecha y poscosecha: 

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-3         
                .chat-box.cb--even.order-1.py-4.px-4
                    p.mb-2 Producción agrícola 
            .col-12.col-md-9
                img.img-a(src="assets/images/pages/ilustraciones/img1.svg").img-fluid
        .hr-ecored.mt-0
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-3         
                .chat-box.cb--even.order-1.py-4.px-4
                    p.mb-2 Producción pecuaria 
            .col-12.col-md-9
                img.img-a(src="assets/images/pages/ilustraciones/img2.svg").img-fluid 
        .hr-ecored.mt-0                                    

        .sub-ecored.mt-5#11
            h2 1.1 Estándar de certificación
        p.mt-5 La certificación es el paso inicial al momento de realizar un proceso normativo de productos agrícolas que luego llegan a un organismo de certificación. Se debe tener en cuenta que para ello, se debe cumplir con unos estándares y una serie de acciones.   
        img.img-a(src="assets/images/pages/ilustraciones/img3.png").img-fluid 

        section.mt-5
            a(href="http://www.fao.org/3/ad094s/ad094s03.htm#TopOfPage" target="_blank").media-link

                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p las cuales explica la FAO en detalle, a través del siguiente artículo     
        .sub-ecored.mt-5#12
            h2 1.2 Trazabilidad
        .embed-responsive.embed-responsive-16by9.mt-5
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/tv685oht3ZI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  
        p.mt-5 Por trazabilidad se entiende el conocimiento que se tiene mediante registros de la información del producto dentro de toda su cadena de producción, transformación y distribución. En síntesis, es saber de dónde viene y para dónde va un producto, de que está hecho y quién lo produce, hasta llegar al consumidor final durante todo su recorrido.       
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img4.png").img-fluid        
        .row
            .col-12.col-md-11
                .jumbotron.text-sup.px-3.py-3 
                    p A la hora de implementar un sistema de trazabilidad, es necesario crear herramientas de recolección de datos. Estas deben obtener y registrar la información sobre las materias primas utilizadas, los datos de la planta en la que se fabrica, el almacenamiento y la distribución. Un sistema de trazabilidad debe ser eficiente y capaz de ofrecer la información histórica del producto, su ubicación y la trayectoria de manera exhaustiva y correcta. 
                    p Para dar inicio a un proceso de implementación de un sistema de trazabilidad en la producción agropecuaria, se debe contar con los siguientes elementos:
        .header-arrow.py-4.my-5
            h3.text-center Sistema de identificación
        .row.justify-content-center.align-items-center
            .col-12.col-md-2 
                img.img-a(src="assets/images/pages/ilustraciones/1.svg").img-fluid          
            .col-12.col-md-10         
                .chat-box.cb--odd.py-3
                    p Los sistemas de identificación son uno de los componentes básicos de cualquier seguimiento de la trazabilidad en el ámbito agroempresarial. Mediante estos sistemas, se hace posible la identificación de los productos, ya sea de forma individual o lotes de producción. Igualmente, permite la identificación de los embalajes, logística de almacenamiento y distribución. Esto se realiza de manera habitual utilizando códigos de barras o indicativos que llevan los productos al momento de realizar el embalaje. Con esto, se asegura el control de la trayectoria hasta el final del proceso.
                    p Cada empresa es libre de elegir el sistema de identificación más adecuado para sus características. De igual forma, puede seleccionar el tipo estándar de codificación que mejor se ajuste a su producción y comercialización.
                    p.mb-2 Para que el sistema de identificación funcione correctamente se deben utilizar herramientas tecnológicas de información y las telecomunicaciones que faciliten el funcionamiento de la empresa agropecuaria. 

                    img.img-a.mt-3(src="assets/images/pages/ilustraciones/img5.png").img-fluid                                         
        .header-arrow.py-4.my-5
            h3.text-center Sistema de identificación
        .row.justify-content-center.align-items-center
            .col-12.col-md-2 
                img.img-a(src="assets/images/pages/ilustraciones/2.svg").img-fluid          
            .col-12.col-md-10         
                .chat-box.cb--odd.py-3
                    .row.justify-content-center.align-items-center
                        .col-12.col-md-8
                            p.mb-2 Al momento de implantar un sistema de trazabilidad, es fundamental utilizar algunas herramientas de captura de datos, las cuales deben obtener y registrar la información sobre las materias primas utilizadas, los datos de la planta en la que se fabrica y los datos de la gestión de almacenes. Un buen sistema digital le va a permitir a cada individuo dentro de la cadena de suministros, adjuntar datos pertinentes o realizar operaciones en tiempo real sobre algunos productos que lo requieran.
                        .col-12.col-md-4 
                            img.img-a(src="assets/images/pages/ilustraciones/img6.png").img-fluid

        .header-arrow.py-4.my-5
            h3.text-center Sistema de identificación
        .row.justify-content-center.align-items-center
            .col-12.col-md-2 
                img.img-a(src="assets/images/pages/ilustraciones/3.svg").img-fluid          
            .col-12.col-md-10         
                .chat-box.cb--odd.py-3
                    p Sin desconocer la importancia de los sistemas anteriormente mencionados, en este punto se debe obtener información de importancia dentro de un proceso de trazabilidad, dándole uso adecuado a esta información. Por ello, es fundamental la utilización de un software especializado que permita la gestión correcta de todos los datos acumulados, su análisis y su posterior administración. 
                    p.mb-2 Mediante el software se permite almacenar la información que se ha capturado e interactuar con los sistemas de gestión empresarial, suministrando la información impresa en tirillas de etiquetas y códigos de barras o grabando en un chip de tipo RFID, que permita identificar y hacer seguimiento remotamente, mediante una señal de radio, al objeto que se está observando.

                    img.img-a.mt-3(src="assets/images/pages/ilustraciones/img7.png").img-fluid                                                             
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-8 
                p.mb-0 Conociendo lo anterior, en el siguiente gráfico se observa la distribución final de productos agropecuarios, teniendo presente el seguimiento de la producción agrícola:          
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img8.png").img-fluid    

        .sub-ecored.mt-5#13
            h2 1.3	Registros
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img9.png").img-fluid       
        p.mt-5 Primero que todo, se debe saber que en Colombia, la entidad encargada de ejercer el control técnico de la comercialización y usos de los productos agropecuarios, semillas, agroquímicos y fertilizantes, es el Instituto Colombiano Agropecuario (ICA).

        p Ahora bien, dentro de un proceso productivo agropecuario sin importar el nivel de organización empresarial, se debe contar con algún tipo de sistema de registros que suministre información relevante del estado de la actividad que se esté realizando en un momento determinado.

        p A continuación, se relaciona un documento del Ministerio de Agricultura en el que se describe en la sección de registros, el contenido que ilustra el tema y es de relevancia para su aplicación. 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img10.png").img-fluid           
        section.mt-5
            a(href="https://www.minagricultura.gov.co/ministerio/direcciones/Documents/Doc%20Orlando/Manual_Operativo_Registro_y_Clasificaci%C3%B3n_de_Usuarios.pdf" target="_blank").media-link

                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p Este se haya directamente en el aparatado 6. Registro de usuarios del servicio público de extensión agropecuaria     

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-8 
                p Debido a los trámites que son complejos al momento de solicitar algún tipo de registro sanitario ante el Instituto Nacional de Vigilancia de Medicamentos y Alimentos  (Invima) -entidad facultada por la normatividad colombiana en expedir registros nuevos productos o renovar los existentes-, los pequeños y medianos productores agropecuarios en su gran mayoría, desisten de su interés en solicitar un registro y optan por producir alimentos que no requieren registro sanitario y pueden ser comercializados de manera libre en reducidos nichos de mercado, como son las frutas, los vegetales, el huevo, etc. Mientras que para llegar a mercados verdes o a grandes superficies, los emprendedores deben adjuntar información del producto como es: ficha técnica, fecha de vencimiento, composición nutricional, entre otros y presentar su correspondiente registro sanitario.         
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img11.png").img-fluid         

 
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img12.png").img-fluid              
            .col-12.col-md-8                 
                p En las actuales condiciones de los productos sobresalientes en la economía campesina y en la gastronomía cultural de Colombia, no existe una norma que exija que estos productos deban tener registro sanitario. Un ejemplo de ello es la panela, si esta se comercializa como producto artesanal no requiere de un registro; pero, si se desea hacerlo con adición de sabores u otro tipo de componentes, en ese caso si es necesario un registro sanitario.
                p En Colombia, hay tres tipos de registros: el registro sanitario, la notificación y el permiso sanitario. Estos son solicitados por el campesino o microempresario dependiendo del tipo de producto y el riesgo a la salud pública, con costos individuales.  

        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img13.png").img-fluid  
        .jumbotron
            p Obtener registro sanitario, permiso sanitario, notificación sanitaria para alimentos importados de alto, medio y bajo riesgo para la salud con destino al consumo humano, son renovables, la vigencia del registro sanitario es de 5 años, el permiso sanitario es de 7 años y la notificación sanitaria es de 10 años. (SUIT, 2020) 
        p Para cada uno de ellos existe una lista de chequeo que se debe diligenciar según sea el tipo de registro solicitado en el invima, lo cual se realiza a través del formato único de alimentos, registros sanitarios o permiso sanitario o notificación sanitaria y tramites asociados (resolución 2674 de 2013, resolución 3168 de 2015). documento que se encuentra relacionado en los materiales complementarios.  

        .sub-ecored.mt-5#14
            h2 1.4 Indicadores  
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img14.png").img-fluid              
            .col-12.col-md-8                 
                p Hacen referencia a los indicadores utilizados dentro de un sistema productivo del sector agropecuario para evaluar, analizar y hacer seguimiento a los procesos de productivos descritos en los objetivos estratégicos. Para hacer más fácil su comprensión, se pueden agrupar en tres tipos: indicadores de desempeño, indicadores de gestión e indicadores sociales; los cuales son utilizados comúnmente para evaluar el éxito y desarrollo empresarial. 

        p.mt-5 Hay que resaltar que, dentro de los sistemas productivos del sector agropecuario, la gran mayoría se explotan a nivel rural y se hacen de forma extensiva, carentes de tecnología y de acuerdo a costumbres culturales locales. Los sistemas productivos son en la actualidad el eje del desarrollo rural, municipal y regional, conformando cadenas productivas que dan valor agregado a los productos y facilitan su comercialización e incursión a nuevos nichos de mercado; esto con el beneficio de realizar actividades de trasformación agroindustrial y agroalimentaria de productos con alta demanda nutricional. Desconociendo en algunos casos los tipos que permiten al emprendedor evaluar el estado de la empresa, sin afectar adicionalmente los ecosistemas, preservando el medio ambiente, volviendo sostenible y sustentable la empresa agropecuaria.  
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img15.png").img-fluid                   
       
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img16.png").img-fluid 
        p.mt-5 En todo proceso productivo de carácter agropecuario, el objetivo principal trazado por el emprendedor es obtener un alto margen de rentabilidad económica en el proceso productivo, desconociendo la importancia que tienen los tipos de indicadores planteados anteriormente. Su importancia radica en que son necesarios para medir su sostenibilidad o prevalencia en el mercado y su capacidad financiera de ser competitiva dentro de un nicho de mercado, el cual es cambiante permanentemente.

        p.mt-5 A continuación, se describe cada uno de los tres tipos de indicadores que son relevantes para el crecimiento, sostenimiento y prevalencia de una empresa, cumpliendo con ello con la normatividad vigente:

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-6                 
 
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Indicadores de desempeño

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Indicadores de gestión

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p Indicadores sociales                                     
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img17.png").img-fluid 

        .header-arrow.py-4.my-5
            h3.text-center 1. Indicadores de desempeño              
       
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-8
                p Conocidos también como indicadores de gestión. Su finalidad es medir si se está cumpliendo con las metas y objetivos estratégicos específicos, trazados por la empresa. A su vez, se pueden subdividir en indicadores de alto nivel direccionados a observar el desempeño general de la empresa, mientras que en los de bajo nivel su enfoque son los procesos o empleados de cada área, como pueden ser: ventas, mercadeo o atención al cliente. 

                p Una empresa del sector agropecuario debe centrar sus metas teniendo en cuenta su desempeño en el sector y establecer indicadores bien diseñados con instrumentos esenciales que le permitan trasegar con una excelente imagen corporativa y saber en algún momento si la empresa está donde debería estar. Estos indicadores de gestión son insumos esenciales para la toma de decisiones y contribuyen notoriamente en mejorar el desempeño organizacional. 

                p Por otra parte, los indicadores de desempeño son muy importantes y son utilizados como medio de motivación de los trabajadores de la empresa, con respecto a las metas propuestas por la organización. 

            .col-12.col-md-4     
                img.img-a(src="assets/images/pages/ilustraciones/img18.png").img-fluid 

        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img19.png").img-fluid 
        .quote.mt-5
            .quote__bar
                .quote__bar__icon    
                    img(src="assets/images/icons/quote_01.svg", alt="")
                .quote__bar__hr      
            .quote__text
                p.mb-0 Una cultura que apoya y motiva a todos aquellos que hacen parte de ella está destinada a lograr mejores resultados que una que no lo hace. En este sentido, el seguimiento de los indicadores de gestión permite reconocer el trabajo arduo de los empleados y garantizar su involucramiento y su sentido responsabilidad. (Roncancio, 2018)  
            .quote__bar
                .quote__bar__hr 
                .quote__bar__icon
                    img(src="assets/images/icons/quote_02.svg", alt="")                         

        .header-arrow.py-4.my-5
            h3.text-center 2. Indicadores de gestión             
       
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-8
                p En este segundo componente de indicadores, se describen los elementos que se usan por el emprendedor para entender si la empresa está por el camino correcto y va acorde con las estrategias planteadas por esta y la normatividad vigente. Con esto se logra evaluar si la empresa está teniendo éxito en el mercado, va por el camino correcto y se está adaptando a los permanentes cambios del mercado. Estos factores deben ser monitoreados, registrados y analizados en tiempo real.  Con esta estrategia, se debe poder corregir su rumbo rápidamente y adaptarse a las condiciones cambiantes del mercado, al cumplimiento de metas y el bajo nivel de desempeño. 

            .col-12.col-md-4     
                img.img-a(src="assets/images/pages/ilustraciones/img20.png").img-fluid            

        .header-arrow.py-4.my-5
            h3.text-center 3. Indicadores sociales            
       
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4     
                img.img-a(src="assets/images/pages/ilustraciones/img21.png").img-fluid                 
            .col-12.col-md-8
                p Corresponden a valorar la importancia del individuo y su relación con el entorno. Todos los seres humanos son sociables por naturaleza y requieren relacionarse con los demás individuos para prevalecer en un entorno social que debe ser equitativo y sustentable.  

        .quote.mt-5
            .quote__bar
                .quote__bar__icon    
                    img(src="assets/images/icons/quote_01.svg", alt="")
                .quote__bar__hr      
            .quote__text
                p.mb-0 Para Gertler (1994) citado por Chiappe (2002), a través del portal web Infoagro (s.f.), la sostenibilidad es “primero y antes que nada, un tema social”. Profundizando esta aseveración, se puede afirmar que los distintos componentes del objetivo mayor, remiten finalmente a la calidad de vida y en última instancia a la vida misma. La equidad aparece, empero, con un efecto más directo en el aspecto social. Llevado a nivel de comunidad o sociedad, adquiere una jerarquía superior a los demás atributos, en términos de su aportación al medio que conforma. Cuando el objetivo es social, la característica predial es un medio. La interface de objetivos prediales / sociales, se aproxima al concepto de multifuncionalidad de las unidades.
            .quote__bar
                .quote__bar__hr 
                .quote__bar__icon
                    img(src="assets/images/icons/quote_02.svg", alt="")                          

        .row.justify-content-center.align-items-center.mt-5      
            .col-12.col-md-8
                p La equidad social no igualdad social, se puede entender como calidad de vida entre los miembros de una comunidad, en las que están satisfechas las demandas actuales y futuras de un individuo y su familia dentro de un espacio geográfico desarrollado y organizado con políticas claras que los beneficien. La inequidad, es actualmente lo sobresaliente en una economía globalizada que contribuye en volver insostenible cualquier emprendimiento.                     
            .col-12.col-md-4     
                img.img-a(src="assets/images/pages/ilustraciones/img22.png").img-fluid        
        .quote.mt-5
            .quote__bar
                .quote__bar__icon    
                    img(src="assets/images/icons/quote_01.svg", alt="")
                .quote__bar__hr      
            .quote__text
                p Es el obstáculo más fuerte para lograr la aplicación de conocimientos científicos y tecnológicos ya existentes, para el Desarrollo Sostenible. El solo análisis de esta hipótesis, podría hacer una contribución valorable a lo que Gallopin y col. (2003) llaman “Economía política de la insostenibilidad”. El abordaje priorizado de este tema aparece como obvio, si tenemos en cuenta que el 20 % más rico de la población mundial absorbe el 83 % de la renta mientras que el 20% más pobre, solo accede al 1,4 % (Held y Mc Grew, 2003, citado por el portal web Infoagro, s.f.).

                p.mb-0 A modo de conclusión, no se puede prescindir de modelos prospectivos de ruralidad, para analizar y ponderar la evolución social de las comunidades agrarias. El contenido más representativo de la sustentabilidad social es el de la Equidad, como generadora de calidad de vida. Su implementación, intra e intergeneracional, acusa alta afinidad con el desempeño sustentable de las componentes ecológicas, económicas e institucionales. Varios autores coinciden en asumir esta herramienta de progreso, no como una mera concesión a los más necesitados, sino como un derecho ciudadano que el Estado debe proteger. (Infoagro, s.f.)

            .quote__bar
                .quote__bar__hr 
                .quote__bar__icon
                    img(src="assets/images/icons/quote_02.svg", alt="")    
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img23.png").img-fluid

        .sub-ecored.mt-5#15
            h2 1.5 Software de administración de la producción
        p.mt-5 A continuación, se relacionan diversos softwares que son útiles para registrar, clasificar, analizar y evaluar información relevante en un proceso productivo y administrativo de una empresa agropecuaria. Todo ello, para hacerles seguimiento a sus indicadores estratégicos, ajustando el elegido con los ítems necesarios para cada unidad productiva y requerimientos de la empresa. 

        p Dichos softwares son:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img28.png").img-fluid     
        .row.justify-content-center.align-items-center.mt-5      
            .col-12.col-md-3
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        h3.text-center TaurusWebs 
            .col-12.col-md-3 
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        h3.text-center OvisWebs
            .col-12.col-md-3  
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        h3.text-center SuinoWebs
            .col-12.col-md-3  
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        h3.text-center ArcGIS
        .row.justify-content-center.align-items-center     
            .col-12.col-md-3 
                
                a(href="http://www.tauruswebs.com/wwwtauruswebs/prueba-gratis.html", target="_blank")
                    img.img-a(src="assets/images/pages/ilustraciones/img24.png").img-fluid             
            .col-12.col-md-3 
                a(href="http://www.tauruswebs.com/wwwoviswebs/index.php", target="_blank")
                    img.img-a(src="assets/images/pages/ilustraciones/img25.png").img-fluid             
            .col-12.col-md-3 
                a(href="http://www.suinowebs.com/", target="_blank")
                    img.img-a(src="assets/images/pages/ilustraciones/img26.png").img-fluid             
            .col-12.col-md-3 
                a(href="https://www.arcgis.com/index.html", target="_blank")
                    img.img-a(src="assets/images/pages/ilustraciones/img27.png").img-fluid 