.container
    .header-ecored
        h1 3. Estructura organizacional de una empresa agropecuaria
    .jumbotron.bg-white
        .row.justify-content-center.align-items-center     
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img58.png").img-fluid
            .col-12.col-md-8 
                p Toda empresa del sector agropecuario, sin importar su tamaño, debe contar con una estructura organizada que le facilite su funcionamiento y que le otorgue cumplimiento a los objetivos y las metas propuestas en la planeación estratégica. 

                p A raíz de ello, se puede indicar que la estructura organizacional de una empresa es el arreglo ordenado de los recursos: económicos, físicos, humanos y medioambientales para alcanzar los objetivos y las metas plasmadas en la fase de planeación como ya se indicó. Terminando con el estructuramiento jerarquizado en cadena de mando de un sistema organizado, el cual ofrece las condiciones óptimas para la dirección y control de las diferentes unidades de la empresa.
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img59.png").img-fluid 
        .jumbotron
            p Una empresa del sector agropecuario organizada tiene en cuenta permanentemente sus objetivos y metas claramente definidas; permitiendo de esta manera mantener el control de los recursos, solucionar problemas y tomar decisiones asertivamente; respetando los roles y funciones de cada uno de los trabajadores responsables de las dependencias. Cuando la organización es defectuosa, el control se dificulta y la definición de responsabilidades se hace confusa, creciendo los problemas.  
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img60.png").img-fluid 
        .row.justify-content-center.align-items-center
            .col-12.col-md-10
                .jumbotron.text-sup2.px-3.py-3 
                    p Una pequeña explotación organizada tiene definida su estructura que puede estar conformada por un gerente o propietario quien toma las decisiones clave con respecto a la microempresa, un supervisor que rinde cuentas al gerente propietario y los operarios siguen las orientaciones del supervisor. Algunas de las dificultades de la microempresa que surgen a diario se dan cuando se pierde el respeto y se desconoce el mando jerárquico de los roles de los trabajadores. Un ejemplo, es el caso de los propietarios que delegan todas las decisiones importantes en el mayordomo o administrador según el criterio personal de este. Esto podría ser favorable si el encargado tiene un nivel de formación y conocimiento igual o superior al del propietario; pero si no es así, surgen muchos de los problemas administrativos que se ven en las pequeñas fincas.
                    p Es fundamental que los pequeños o medianos productores agropecuarios adquieran una visión empresarial de su pequeña empresa y actúen de acuerdo a los requerimientos que se requieren para su funcionamiento según la normatividad y exigencia del mercado para que sea rentable y sostenible.
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img61.png").img-fluid               
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img62.png").img-fluid 
        .hr-ecored
        .row.justify-content-center.align-items-center.mt-5     
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img63.png").img-fluid
            .col-12.col-md-8 
                p La estructura organizacional es considerara como una herramienta que sirve para esquematizar su composición estructural por departamentos y cómo se pueden conseguir los objetivos con eficacia. En donde el gerente tiene autoridad sobre el desempeño de las actividades especificadas allí.  
                p Como herramienta importante para la organización interna de una empresa del sector agropecuario, es fundamental definir esquemas gráficos que faciliten a los nuevos trabajadores, personal externo y en general, a todas las dependencias de la empresa, una mejor comprensión y comunicación con las demás dependencias. Esto con el sentido de una mejora continua y una adecuada imagen gráfica de la empresa a terceros. 
        .hr-ecored
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img64.png").img-fluid                
        p Por otra parte, este sistema gráfico debe estar organizado por dependencias, de acuerdo al requerimiento del mercado. Los organigramas son útiles para las organizaciones por que brindan una imagen formal de la organización; son una fuente de consulta oficial y facilitan el conocimiento de una empresa; así como de sus relaciones de jerarquía y constituyen un elemento técnico valioso para hacer análisis organizacional.

        p Cada empresa tiene criterios propios para construir su organigrama basado en sus necesidades y tamaño del negocio. A continuación, se describen algunos elementos básicos, citados por el portal web AulaFacil (2020):

        .row.justify-content-center.align-items-center.mt-5     
            .col-12.col-md-4
                .chat-box.cb--even.order-1.py-4.px-4.radius
                    h3.mb-2.text-center 1.	Precisión 
            .col-12.col-md-8.color-row-2.py-5.px-5
                p Las unidades administrativas y sus relaciones e interrelaciones deben establecerse con exactitud.

        .row.justify-content-center.align-items-center.mt-5     
            .col-12.col-md-4
                .chat-box.cb--even.order-1.py-4.px-4.radius
                    h3.mb-2.text-center 2. Sencillez 
            .col-12.col-md-8.color-row-2.py-5.px-5
                p Deben ser lo más simple posible, para representar la estructura en forma clara y comprensible.

        .row.justify-content-center.align-items-center.mt-5     
            .col-12.col-md-4
                .chat-box.cb--even.order-1.py-4.px-4.radius
                    h3.mb-2.text-center 3. Uniformidad 
            .col-12.col-md-8.color-row-2.py-5.px-5
                p En su diseño es conveniente homogeneizar el empleo de nomenclatura, líneas, figuras y composición para facilitar su interpretación.

        .row.justify-content-center.align-items-center.mt-5     
            .col-12.col-md-4
                .chat-box.cb--even.order-1.py-4.px-4.radius
                    h3.mb-2.text-center 4. Presentación 
            .col-12.col-md-8.color-row-2.py-5.px-5
                p Su acceso depende en gran medida de su formato y estructura, por lo que deben prepararse complementando tanto criterios técnicos como de servicio, en función de su objeto.

        .row.justify-content-center.align-items-center.mt-5     
            .col-12.col-md-4
                .chat-box.cb--even.order-1.py-4.px-4.radius
                    h3.mb-2.text-center 5. Vigencia 
            .col-12.col-md-8.color-row-2.py-5.px-5
                p Para conservar su validez, deben mantenerse actualizados.
        p.mt-5 Una estructura organizativa muy vertical, con una larga cadena de mando y tramos de control corto no favorece el trabajo en equipo, mientras que las estructuras horizontales facilitan mejor el trabajo en equipo. La estructura organizacional influye en la cantidad de reglas, procedimientos, trámites y otras limitaciones a que se ven enfrentados los trabajadores en el desarrollo de su trabajo.
        p A su vez, un organigrama es la representación gráfica de la estructura orgánica de una empresa o de una de sus áreas o unidades administrativas, en la que se muestran las relaciones que guardan entre sí los órganos que la componen.
                 
        .hr-ecored
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img67.png").img-fluid 
        .hr-ecored
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img65.svg").img-fluid 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img66.png").img-fluid                 

        .sub-ecored.mt-5#31
            h2 3.1 Variables técnicas y productivas 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img68.png").img-fluid        
        .row
            .col-12.col-md-11
                .jumbotron.text-sup.px-3.py-3 
                    p Toda empresa debe tener conocimiento amplio de la actividad que está desarrollando en relación con su entorno, el cual se entiende como el conjunto de factores externos que influyen en los resultados de la empresa del sector agropecuario. Puede llevar a cabo su misión y logro de objetivos, en el cumplimiento del correcto funcionamiento de la producción agropecuaria. Además, se tienen que analizar las variables técnicas y productivas que se presentan en su entorno con la ejecución de las actividades cotidianas.

                    p Estas variables para su fácil entendimiento se organizan en dos grupos, de acuerdo a lo expuesto por Jiménez (2017):
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-2 
                img.img-a(src="assets/images/pages/ilustraciones/1.svg").img-fluid 
                h3.text-color-title-card.text-center.mt-2 Variables internas          
            .col-12.col-md-10         
                .chat-box.cb--odd.py-3
                    p.mb-0 Las variables internas son los elementos que dan origen estructural y manifiestan las cualidades propias de empresa, determinando cómo se desarrollará la iniciativa empresarial. Las más importantes son las siguientes:  
        .jumbotron.mt-5
            .row.justify-content-center.align-items-stetch
                .col-12.col-md-6
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p #[strong Idea de negocio:] es la idea básica en la que se sustenta cualquier empresa. Puede tratarse de una innovación sobre la base de una idea ya existente o bien de una idea totalmente innovadora en el mercado.            
                    img.img-a(src="assets/images/pages/ilustraciones/img69.png").img-fluid             
                .col-12.col-md-6  
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p #[strong Capacidad emprendedora:] es la capacidad de convertir una idea de negocio en realidad y hace posible que haya personas que puedan llegar a llevarla a cabo. Para lograrlo hace falta imaginación y creatividad.                                     
                    img.img-a(src="assets/images/pages/ilustraciones/img70.png").img-fluid 

            .row.justify-content-center.align-items-center.mt-5
                .col-12.col-md-6
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p #[strong Conocimientos técnicos y profesionales:] nos referimos a los conocimientos que se adquieren tanto de la formación académica como de la propia experiencia y que son necesarios para desarrollar una idea de negocio.           
                    img.img-a(src="assets/images/pages/ilustraciones/img71.png").img-fluid        

                    .list.mt-5
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p #[strong Autoempleo:] es la capacidad que tienen las personas de proporcionarse a sí mismo un trabajo por cuenta propia, es decir, un empleo mediante un proyecto de empresa personal.                                    
                    img.img-a(src="assets/images/pages/ilustraciones/img72.png").img-fluid                            
                .col-12.col-md-6  
                    .list.mt-5
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p #[strong Acceso a recursos materiales y financieros:] es importante contar con recursos materiales propios (un local o un vehículo, por ejemplo) y recursos financieros propios (ahorros) para poder desarrollar sin miedo el proyecto de empresa.                                  
                    img.img-a(src="assets/images/pages/ilustraciones/img73.png").img-fluid                     

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-2 
                img.img-a(src="assets/images/pages/ilustraciones/2.svg").img-fluid 
                h3.text-color-title-card.text-center.mt-2 Variables externas          
            .col-12.col-md-10         
                .chat-box.cb--odd.py-3
                    p.mb-0 Las variables externas son aquellas que se originan en el entorno y que proporcionan un estímulo complementario a las variables internas. Son variables imprescindibles para que la iniciativa empresarial tenga éxito. Destacamos las siguientes:  

        .jumbotron.mt-5
            .row.justify-content-center.align-items-stetch
                .col-12.col-md-6
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p #[strong Localización:] Es fundamental que un negocio esté bien ubicado para tener acceso al mayor número posible de clientes y proveedores. Una mala localización puede arruinar el proyecto empresarial.            
                    img.img-a(src="assets/images/pages/ilustraciones/img74.png").img-fluid             
                .col-12.col-md-6  
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p #[strong Coyuntura económica:] Las épocas de auge económico son más idóneas que las crisis para emprender, si bien es en estas últimas cuando se incuban las ideas más innovadoras.                                     
                    img.img-a(src="assets/images/pages/ilustraciones/img75.png").img-fluid 

            .row.justify-content-center.align-items-center.mt-5
                .col-12.col-md-6  
                    .list.mt-5
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p #[strong Ayudas institucionales:] Para algunos negocios, las administraciones públicas facilitan la creación de empresas mediante subvenciones o bonificaciones fiscales. Esto permite reducir los costos iniciales.                                 
                    img.img-a(src="assets/images/pages/ilustraciones/img76.png").img-fluid                 
                .col-12.col-md-6
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p #[strong Clientes y proveedores:] Tan importante es tener claro cuáles serán nuestros potenciales clientes como disponer de una buena base de proveedores dentro de nuestra red logística y de producción.          
                    img.img-a(src="assets/images/pages/ilustraciones/img77.png").img-fluid        

                    .list.mt-5
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p #[strong Competencia:] La existencia de otras empresas que desarrollen el mismo negocio que nosotros y con las que competiremos de tú a tú en el mercado pueden condicionar el éxito o fracaso de nuestra iniciativa emprendedora.                                    
                    img.img-a(src="assets/images/pages/ilustraciones/img78.png").img-fluid  
        .header-arrow.py-4.my-5
            h3.text-center Por su parte, la OBS (2020), complementa con lo siguiente:                          
                      
        p.mt-5 La viabilidad del negocio que se expresa en términos de un conjunto de beneficios que contribuyen hacia el objetivo estratégico. Esta justificación requiere un importante esfuerzo analítico de preparación, ya que existen muchas variables que pueden afectar la viabilidad de un proyecto: 

        .row.justify-content-center.align-items-center.mt-5     
            .col-12.col-md-4
                .chat-box.cb--even.order-1.py-4.px-4.radius
                    h3.mb-2.text-center 1. Sobrecostes
            .col-12.col-md-8
                img.img-a(src="assets/images/pages/ilustraciones/img79.png").img-fluid 
        p.mt-5 Si el proyecto se basa en una tasa de retorno sobre el capital invertido, un aumento sobrevenido en los costes del proyecto puede eliminarla.    

        .row.justify-content-center.align-items-center.mt-5     
            .col-12.col-md-4
                .chat-box.cb--even.order-1.py-4.px-4.radius
                    h3.mb-2.text-center 2.	Excesos de tiempo
            .col-12.col-md-8
                img.img-a(src="assets/images/pages/ilustraciones/img79.png").img-fluid 
        p.mt-5 Algunos proyectos tienen que ser entregados dentro de un plazo determinado para entregar beneficios. Si se exceden los límites fijados, puede acabarse con los beneficios que lo justifican. 

        .row.justify-content-center.align-items-center.mt-5     
            .col-12.col-md-4
                .chat-box.cb--even.order-1.py-4.px-4.radius
                    h3.mb-2.text-center 3.	Cambios en las especificaciones y alcance
            .col-12.col-md-8
                img.img-a(src="assets/images/pages/ilustraciones/img79.png").img-fluid 
        p.mt-5 Este tipo de variaciones deben ser cuidadosamente evaluadas, en la medida de lo posible, para determinar su impacto en la generación final de beneficios de la iniciativa.

        .row.justify-content-center.align-items-center.mt-5     
            .col-12.col-md-4
                .chat-box.cb--even.order-1.py-4.px-4.radius
                    h3.mb-2.text-center 4.	Problemas de calidad
            .col-12.col-md-8
                img.img-a(src="assets/images/pages/ilustraciones/img79.png").img-fluid 
        p.mt-5 Durante la fase de ejecución del proyecto puede ponerse de manifiesto la imposibilidad de cumplir con las expectativas originales en materia de calidad. Este descubrimiento puede tener un efecto inmediato en la aceptabilidad y, por tanto, la capacidad de uso de los productos del proyecto por parte del usuario final. Los cambios necesarios aplicables a la calidad deben ser evaluados teniendo en cuenta el coste que implican y su repercusión en los beneficios.                              

        .row.justify-content-center.align-items-center.mt-5     
            .col-12.col-md-4
                .chat-box.cb--even.order-1.py-4.px-4.radius
                    h3.mb-2.text-center 5.	Cambios en el entorno empresarial
            .col-12.col-md-8
                img.img-a(src="assets/images/pages/ilustraciones/img79.png").img-fluid 
        p.mt-5 A veces la viabilidad de un proyecto queda en entredicho por causas internas a la empresa. Muchas veces, las organizaciones tienen que tomar un camino estratégico diferente, por lo que la necesidad que justificaba el proyecto queda obsoleta y, por tanto, deja de tener sentido el comprometer recursos para un proyecto que ya no es una necesidad, y mucho menos una prioridad. La viabilidad de un proyecto no debe ser evaluada tan sólo a su inicio, sino que se debe hacer un seguimiento que la garantice durante todo el ciclo de vida del mismo. Esta monitorización permitirá la identificación de desviaciones con el margen de tiempo necesario para poder considerar las posibles alternativas, soluciones técnicas, de rentabilidad y potencial de mercado.        

        .hr-ecored

        .row.justify-content-center.align-items-center     
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img80.png").img-fluid
            .col-12.col-md-8 
                p Por otra parte, los aspectos técnicos son datos relacionados al proceso de transformación de las materias primas, en productos o servicios que serán requeridos por los consumidores. Conocer las características de los productos o servicios que ofrece, cómo se elaboran, cómo se promocionan, a quién venderlos, entregarlos y cobrarlos; son variables esenciales de la empresa e indispensables para su éxito y se deben tener presentes para relación con el ambiente externo, el cual influye en los costos de producción como son: localización de coyuntura económica, mercado de consumo, mercado industrial, mercado distribuidor, mercado gubernamental, mercado internacional.         

        .sub-ecored.mt-5#32
            h2 3.2 Herramientas de análisis organizacional 
        img.img-a(src="assets/images/pages/ilustraciones/img81.png").img-fluid 
        .row.justify-content-center.align-items-center
            .col-12.col-md-9
                .jumbotron.text-sup2.px-3.py-3 
                    p Se conocen como el procedimiento específico para organizar, descomponer, presentar o estructurar datos e información, con el propósito de extraer conclusiones significativas que faciliten la toma de decisiones: A continuación, se presentan algunas de las herramientas más utilizadas que ayudan a realizar el análisis estratégico que la empresa requiere, de acuerdo a lo relacionado en el portal web Los que están en todas (2020):              
        .header-arrow.py-4.my-5
            h3.text-center Matriz FODA
        .jumbotron
            p.mt-5 Es la más conocida de todas. Es una herramienta de estudio de las fortalezas, debilidades, oportunidades y amenazas de un negocio, con el propósito de identificar las estrategias que alineen mejor sus recursos y capacidades para satisfacer las demandas internas y del entorno, indica el portal de negocios Management Study Guide. Sus 4 pilares son:
            .row.justify-content-center.align-items-center.mt-5     
                .col-10
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p Fortalezas: las capacidades que le dan estabilidad a la empresa.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p Debilidades: las cualidades que impiden alcanzar el máximo potencial.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p Oportunidades: las situaciones del entorno que se aprovechan para ser más rentable.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p Amenazas: las condiciones del entorno que ponen en peligro la fiabilidad del negocio.

            p.mt-5 Implementarlo resulta útil para evaluar el potencial y las limitaciones de la empresa, porque:
            .row.justify-content-center.align-items-center.mt-5     
                .col-10        
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p Es una fuente de información para la planificación estratégica.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p Desarrolla fortalezas y permite revertir debilidades.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p Mejora la respuesta a oportunidades y supera amenazas.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p Proyecta el pasado, el presente y el futuro de la organización.

            img.img-a.mt-5(src="assets/images/pages/ilustraciones/img82.png").img-fluid 

        .header-arrow.py-4.my-5
            h3.text-center Análisis CAME
        .jumbotron
            img.img-a.mt-5(src="assets/images/pages/ilustraciones/img83.png").img-fluid             
            p.mt-5 Herramienta que, según el coach para emprendedores Enrique Fuentes, complementa el estudio para canalizar sus resultados a través de líneas claras de acción.

            p Sus siglas hacen referencia a las siguientes acciones:
        
            .row.justify-content-center.align-items-center.mt-5     
                .col-10        
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p Corregir debilidades: desarrollar estrategias de reorientación.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p Afrontar amenazas: crear estrategias de supervivencia.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p Mantener fortalezas: determinar estrategias defensivas para mejorar lo que ya se hace bien.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p Explotar oportunidades: establecer estrategias ofensivas para convertir oportunidades en grandes fortalezas en el futuro.
            p.mt-5 En resumen, ayuda a definir estrategias específicas en el negocio para aprovechar lo bueno y trabajar en los puntos débiles. 
            img.img-a.mt-5(src="assets/images/pages/ilustraciones/img84.png").img-fluid          

        .header-arrow.py-4.my-5
            h3.text-center Análisis PESTEL
        .jumbotron
            p.mt-5 Con esta herramienta de análisis es posible conocer los factores políticos, económicos, sociales, tecnológicos, ecológicos y legales que giran torno a la empresa para actuar en acción y hacerles frente.
            p El especialista en marketing estratégico, Francisco Torreblanca, señala que los factores incluidos dentro de cada una de las categorías del PESTEL son:
            .row.justify-content-center.align-items-center.mt-5     
                .col-10
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p   Políticos: políticas, tratados, imposiciones, subvenciones, etc.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p   Económicos: ciclos económicos, políticas económicas, tipos de interés, tipos de cambio, evolución de precios, tasa de desempleo, niveles de desarrollo, etc.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p   Sociales: evolución demográfica, cambios en estilos de vida, niveles educativos, patrones culturales, etc.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p   Tecnológicos: índices de desarrollo y obsolescencia tecnológica, desarrollo de nuevos productos, velocidad de transmisión de la tecnología, indicadores de innovación, etc.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p   Ecológicos: protección medioambiental, índices de sostenibilidad, nivel de reciclaje, etc.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p   Legales: leyes sobre: empleo, salud, sectores protegidos, propiedad intelectual, etc.
            p.mt-5 Es un instrumento que se enfoca en estudiar el entorno macroeconómico para determinar el contexto actual en el que se desenvuelve la empresa.
            img.img-a.mt-5(src="assets/images/pages/ilustraciones/img85.png").img-fluid         

        .header-arrow.py-4.my-5
            h3.text-center Matriz Ansoff
        .jumbotron
            img.img-a.mt-5(src="assets/images/pages/ilustraciones/img86.png").img-fluid             
            p.mt-5 Otro análisis efectivo es el que proporciona la Matriz Ansoff (o también conocida como matriz de expansión producto/mercado). De acuerdo al Instituto de Finanzas Corporativas (CFI), tiene el objetivo de analizar y planificar estrategias de crecimiento para ayudar a la empresa a desarrollarse y conocer sus riesgos. Sus estrategias son: 
            .row.justify-content-center.align-items-center.mt-5     
                .col-10 
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p   Penetración de mercado: aumentar ventas de productos existentes en un mercado existente.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p   Desarrollo de productos: introducir nuevos productos en un mercado existente.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p   Desarrollo del mercado: ingresar a un nuevo mercado con productos existentes.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p   Diversificación: acceder a un nuevo mercado con nuevos productos.
            p.mt-5 Esta matriz se centra principalmente en conocer los riesgos de crecer en el sector empresarial.
            img.img-a.mt-5(src="assets/images/pages/ilustraciones/img87.png").img-fluid 

        .header-arrow.py-4.my-5
            h3.text-center Diamante de Porter
        .jumbotron
            img.img-a.mt-5(src="assets/images/pages/ilustraciones/img88.png").img-fluid             
            p.mt-5 Es un modelo que evalúa los indicadores microeconómicos que influyen en el desarrollo de una unidad económica (empresa, país, comunidad, etc.) para que sea más competitiva, explica la OBS Business School. Los elementos que analiza son:      
            .row.justify-content-center.align-items-center.mt-5     
                .col-10 
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p   Condiciones de los factores: entorno en el que intervienen los factores productivos de la empresa.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p   Condiciones de la demanda: influencia indirecta de la demanda cuando se trata de generar ventajas competitivas.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p   Estrategia, estructura y rivalidad de las empresas: presencia de competidores en el mismo espectro comercial.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p   Sectores afines y auxiliares: competitividad que existe por alcanzar ciertos márgenes de producción.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p   Gobierno: hasta qué punto la dirección apoya elementos como la innovación o la investigación.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p   Azar: eventos imprevistos capaces de generar discontinuidades en el negocio.

            p.mt-5 Su finalidad es ayudar a la empresa a identificar las causas de su alta competitividad o en caso contrario, a conocer las razones por que no tienen ventajas competitivas y qué hacer para solucionarlo.
            img.img-a.mt-5(src="assets/images/pages/ilustraciones/img89.png").img-fluid             
        
        .sub-ecored.mt-5#33
            h2 3.3 Diagnóstico organizacional y técnico
        p.mt-5 Para diagnosticar la situación actual de la empresa agropecuaria, se deben tener en cuenta todos los efectos relacionados con su entorno, la globalización, la competencia y las tecnologías de la información. Esto para identificar los principales obstáculos que impidan el logro de metas y consecución de los objetivos. Se puede resumir que, el diagnóstico organizacional es una forma utilizada por la empresa para valorar la situación actual en la que esta se encuentra en sus diferentes áreas; como lo son la comunicación, el trabajo en equipo, el ambiente físico, los recursos humanos, entre otras; con el fin de conseguir el funcionamiento correcto.

        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img99.png").img-fluid        
        .row
            .col-12.col-md-11
                .jumbotron.text-sup.px-3.py-3 
                    p Mantener permanente un estado de observación del entorno es fundamental, ya que permite analizar la competencia, ubicación geográfica, avances, estrategias de mercado, población, etc., para la toma de decisiones y realizar una mejora continua. Todo ello, con el propósito de contribuir a desarrollar alternativas para ser más competitiva.

                    p En referencia al diagnóstico técnico que hace énfasis en su proceso productivo, es fundamental mantenerse actualizado en: avances tecnológicos, insumos, procesos, certificaciones, buenas prácticas, empaques, publicidad y demás; que hacen posible que la unidad productiva este vigente, sea competitiva, rentable y sostenible de acuerdo con las exigencias del mercado.
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img100.png").img-fluid   
        .jumbotron
            p El objetivo con este análisis organizacional y técnico, es conocer en detalle el funcionamiento de los procesos productivos a lo largo de toda su cadena de valor, desde la recepción de insumos, materias primas, material vegetal, material animal, hasta la obtención de los productos finales.

        img.img-a(src="assets/images/pages/ilustraciones/img101.png").img-fluid 
        .row.justify-content-center.align-items-center
            .col-12.col-md-9
                .jumbotron.text-sup2.px-3.py-3 
                    p Para realizar permanentemente este diagnóstico y garantizar el éxito y expansión de la empresa, el departamento de calidad y relaciones corporativas realizan visitas periodistas, entrevistas, reuniones personales con diferentes miembros y niveles de la organización, con personal relevante tanto del área a diagnosticar como en diferentes miembros de las áreas de soporte como son: supervisores, agregados, encargados, jefe de bodega, mantenimiento, etc. Utilizando para este fin herramientas de recolecciones información como cuestionarios, volantes de sugerencias, registro fotográfico, lista de chequeo y damas construidos para este fin.   
                    p En resumen, la definición básica de lo que se conoce como diagnóstico organizacional y técnico, está enfocado en su estudio previo a toda planificación empresarial y consiste en la recopilación y tratamiento de la información relevante para la empresa, tanto en su parte interna como en sus componentes externos, con el fin de comprender su funcionamiento e identificar las debilidades y fortalezas presentes en la organización. 
        
        .sub-ecored.mt-5#34
            h2 3.4 Proceso administrativo 
        p El proceso administrativo es la herramienta que se aplica en las empresas para el logro de sus objetivos y satisfacer sus necesidades financieras, ambientales, técnicas y sociales. Si los administradores cumplen con su labor eficientemente y son eficaces en su gestión, es posible que la organización alcance sus metas y objetivos. Por lo tanto, se puede decir que los desempeños de los gerentes son medibles de acuerdo con el grado en que estos cumplan con el proceso administrativo. 
        p La siguiente figura resume de forma básica lo que es el proceso administrativo, nótese la interrelación y la continuidad de las actividades:

        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img102.png").img-fluid 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img1021.png").img-fluid         
        hr.my-5
        p El proceso administrativo se puede realizar en dos fases, una mecánica y otra dinámica. En la primera, se busca establecer qué hacer y se prepara la estructura necesaria para hacerlo, comprendiendo las actividades de planeación y organización. En la segunda, se refiere a cómo se maneja ese organismo social que se ha estructurado y comprende las actividades de dirección y control.
        p El proceso administrativo se desarrolla cumpliendo cuatro funciones básicas: planeación, organización, dirección y control. 
        p A continuación, se describe de forma breve cada una, según lo indicado en el portal web GestioPolis (2003): 
 
        .jumbotron.mt-5
            .sub-ecored-teme
                h3 1. Planeación 

            .row.justify-content-center.align-items-center.mt-5
                .col-12.col-md-6
                    p La planeación en el contexto del proceso administrativo, consiste en saber qué se va a hacer por anticipado, cuál va a ser la dirección que se va a tomar para alcanzar los objetivos y metas trazada en la empresa de la manera más eficiente. 
                    p Establecer metas sirve para no perder de vista el trabajo que se hará y para que los miembros de la organización fijen su atención en las cosas más importantes en la misión y objetivos.
    
                .col-12.col-md-6
                    img.img-a(src="assets/images/pages/ilustraciones/img103.png").img-fluid 

        .jumbotron.mt-5
            .sub-ecored-teme
                h3 2. Organización

            .row.justify-content-center.align-items-center.mt-5
                .col-12.col-md-6
                    img.img-a(src="assets/images/pages/ilustraciones/img104.png").img-fluid              
                .col-12.col-md-6
                    p La organización es un sistema que permite una utilización equilibrada de los recursos cuyo fin es establecer una relación entre el trabajo y el personal que lo debe ejecutar. Es un proceso en sí mismo (dentro del proceso administrativo) en donde se determina qué es lo que debe hacerse para lograr una finalidad establecida o planeada, dividiendo y coordinando las actividades y suministrando los recursos.
 
        .jumbotron.mt-5
            .sub-ecored-teme
                h3 3. Dirección

            .row.justify-content-center.align-items-center.mt-5
                .col-12.col-md-6
                    p La dirección es la función que trata, a través de la influencia interpersonal, de lograr que todos los involucrados en la organización contribuyan al logro de sus objetivos. Se ejerce a través de tres subfunciones: el liderazgo, la motivación y la comunicación.
    
                .col-12.col-md-6
                    img.img-a(src="assets/images/pages/ilustraciones/img105.png").img-fluid                

        .jumbotron.mt-5
            .sub-ecored-teme
                h3 4. Control

            .row.justify-content-center.align-items-center.mt-5
                .col-12.col-md-6
                    img.img-a(src="assets/images/pages/ilustraciones/img106.png").img-fluid              
                .col-12.col-md-6
                    p El control es la función que efectúa la medición de los resultados obtenidos comparándolos con los esperados (planeados) con el fin de buscar la mejora continua.
                    p Existen algunas otras actividades o funciones que han sido adicionadas por diversos autores, entre ellas se tienen:
            .row.justify-content-center.align-items-center.mt-5
                .col-12.col-md-7
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            h3 Integración
                            p Integrar, con qué y quiénes se va a hacer, consiste en seleccionar y obtener los recursos financieros, materiales, técnicos y humanos considerados como necesarios para el adecuado funcionamiento de un organismo social, la integración agrupa la comunicación y la reunión armónica de los elementos humanos y materiales, selección entrenamiento y compensación del personal.
    
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            h3 Previsión
                            p Prever, qué se puede hacer, consiste en el diagnóstico de la información y los datos disponibles, de tal manera que se haga posible la anticipación o construcción del contexto en el que la organización se encontrará.

    
                .col-12.col-md-5
                    img.img-a(src="assets/images/pages/ilustraciones/img107.png").img-fluid 