.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Diagnóstico:
            | se denomina la acción y efecto de diagnosticar. Como tal, es el proceso de reconocimiento, análisis y evaluación de una cosa o situación para determinar sus tendencias, solucionar un problema.
        
        p
            strong.mr-2 Ecología:
            | es una rama de la biología en la que se estudian y analizan las interacciones entre los seres vivos con el hábitat donde se encuentran.
        p 
            strong.mr-2 Economía:
            | ciencia que estudia los recursos, la creación de riqueza y la producción, distribución y consumo de bienes y servicios, para satisfacer las necesidades humanas.
        
        p
            strong.mr-2 Industria:
            | actividad económica y técnica que consiste en transformar las materias primas hasta convertirlas en productos adecuados para satisfacer las necesidades de los humanos.
        p 
            strong.mr-2 Insumo:
            | bien de cualquier clase empleado en la producción de otros bienes.

        p 
            strong.mr-2 Medio ambiente:
            | conjunto equilibrado de elementos que engloban la naturaleza, la vida, los elementos artificiales, la sociedad y la cultura, que existen en un espacio y tiempo determinado.

        p
            strong.mr-2 Proveedor:
            | persona o empresa que abastece a otras empresas con existencias y bienes, artículos principalmente, los cuales serán transformados para venderlos posteriormente o que directamente se compran para su venta.

        p
            strong.mr-2 Sector primario:
            | se denomina aquel sector de la economía que comprende las actividades productivas de la extracción y obtención de materias primas, como la agricultura, la ganadería, la apicultura, la acuicultura, la pesca, la minería, la silvicultura y la explotación forestal.             