.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Invima, (2018), FORMATO ÚNICO DE ALIMENTOS, REGISTROS SANITARIOS o PERMISO SANITARIO o NOTIFICACIÓN SANITARIA Y TRAMITES ASOCIADOS (Resolución 2674 de 2013, Resolución 3168 de 2015).  
                    
                    td Formato
                    td 
                        a(href="media/documentos/Formato_unico_alimentos_registros_sanitarios_permiso_sanitario.xls", target="_blank") <span class="fa fa-download mr-3" aria-hidden="true"></span> Descargar